/* ================================================================================
   Foundation
   ================================================================================ */
/* CSS変数 */
:root {
  --bg-color: #eee;
  --text-color: #111;
  /* TODO: フォールバック設定 */
  --main-font: "Inter", sans-serif;

  /* 色相環のサイズと幅 */
  --hue-circle-size: 500px;
  --hue-circle-width: 20%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  font-family: var(--main-font);
}

/* ================================================================================
   Layout
   ================================================================================ */

.l-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.l-container {
  width: 100%;
  max-width: 1200px;
  height: 100%;

  padding: 6rem 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* ================================================================================
   Object - Project
   ================================================================================ */

.p-score-display__title {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.p-score-display__value {
  font-weight: 800;
  font-size: 4rem;
}

.p-picker {
  display: grid;
  place-items: center;
  position: relative;
  width: var(--hue-circle-size);
  height: var(--hue-circle-size);
}

.p-picker__hue,
.p-picker__sv {
  grid-area: 1 / 1;
}

.p-picker__hue {
  width: var(--hue-circle-size);
  height: var(--hue-circle-size);
  border-radius: 50%;
  background: conic-gradient(
    red,
    yellow,
    green,
    cyan,
    blue,
    magenta,
    red
  );

  --mask-border: calc(100% - var(--hue-circle-width));
  mask-image: radial-gradient(
    circle closest-side,
    transparent var(--mask-border),
    black calc(var(--mask-border) + 1px)
    );
}

.p-picker__sv {
  /* SVパネルは色相環の内径を対角線に持つ */
  --side-length: calc(
    calc(
      var(--hue-circle-size)* calc(calc(100% - var(--hue-circle-width)) / 100%))
      / sqrt(2)
  );
  width: var(--side-length);
  height: var(--side-length);

  background-color: red;
  background-image:
    linear-gradient(to bottom, transparent, black),
    linear-gradient(to right, white, transparent);
}

/* ================================================================================
   Object - Component
   ================================================================================ */
.c-btn {
  /* リセット */
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  font-family: inherit;

  background-color: #ccc;
  font-size: 1.5rem;
  font-weight: 600;
  width: 150px;
  padding: 5px 0;

  border-radius: 999px;
}