/* ================================================================================
   Foundation
   ================================================================================ */
/* CSS変数 */
:root {
  --bg-color: #eee;
}

body {
  background-color: var(--bg-color);
  margin: 0;
}